.loading_dots {
    width: 13.4px;
    height: 13.4px;
    background: #7318e5;
    color: #7318e5;
    border-radius: 50%;
    box-shadow: 13.4px 0,-26.9px 0;
    animation: dots-h5boszmd 0.6s infinite linear alternate;
 }
 
 @keyframes dots-h5boszmd {
    50% {
       box-shadow: 13.4px 0,-13.4px 0;
    }
 
    100% {
       box-shadow: 26.9px 0,-13.4px 0;
    }
 }